*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #ccc;
}

.pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao{
    background-color: aqua;
    width: 600px;
    height: 200px;
    margin: 150px;
}

.form-pagamento{
    display: flex;
}

.cadastro{
    display: flex;
    flex-direction: column;
}

form{
    background-color: darkblue;
    width: 200px;
}


