body{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    margin-top: 225px;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

h1{
    display: flex;
    justify-content: center;
    color: aqua;
    text-shadow: black 5px 5px 5px;
}

form input{
    width: 250px;
    padding: 10px;
}

#btn{
    display: flex;
    width: 150px;
    justify-content: center;
    margin-left: 60px;
    margin-top: 10px;
    color: aqua;
    text-shadow: white 5px 5px 5px;
    background-color: black;
}

#btn:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    transition: 2s;
}